body{
margin:0;
padding:0;
background:black;
display:flex;
}

.nav{
height:10vh;
width:100%;
position:fixed;
background: white;

}

.nav-button-div{
padding-left:160vh;

margin-top:-5vh;
}

.nav-button a{
margin-right:15px;
align-items:center;
text-decoration:none;
color: black;


}

.nav-button a:hover{
background:#ff2d7544;
}





.nav h1{
padding-left:15px;
font-family: math;
}
